
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Andersen Lab{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link href="/assets/css/lightbox.css" rel="stylesheet" />
    <link rel="alternate" type="application/rss+xml" title="Andersen Lab" href="/feeds/rss.xml">
    <link rel='shortcut icon' href='/assets/img/logo.ico' type='image/x-icon'/>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/collapse.js"></script>
    <script src="/assets/js/d3.min.js"></script>
    <script src="/assets/js/tabletop.js"></script>
    <script src="/assets/js/scribl.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <style type="text/css">
        .rounded {
            font-family: Helvetica, Tahoma, Geneva, sans-serif;
            text-decoration:none;
            border-radius: 30px 30px 30px 30px;
            font-weight: bold;
            display:inline-block;
        }
        .btn.clicked {
            background: #44A9FC;
        }
    </style>

</head>
