{% if page.title == "People" %}
{% assign album_limit = 7 %}
{% else %}
{% assign album_limit = 10000 %}
{% endif %}

{% assign prev = "" %}
{% assign count = 0 %}

<div class="pull-right" style="line-height:35px;">{{ page.date | date: "%b %-d, %Y" }}</div>
    <h4>Photo Albums</h4>
    <div class="list-group" >
{% for f in site.static_files reversed sort:path  %}
{% if f.path contains '/people/albums' %}
  {% assign album = f.path | split: "/" %}
  {% assign album_split = album[3] | split: "-" %}
  {% assign album = album_split[3] %}
  {% assign album_date = album_split | slice: 0, 3 | join: "/" %}
  {% if album != prev %}
    {% assign count = count | plus: 1 %}
        {% if count <= album_limit %}
      <a href="/album/{{ album_date }}/{{ album | slugify }}"  class="list-group-item {% if album.title == page.title %}active{% endif%}" style="padding:0px; overflow: hidden;"><img style="width:40px; height:40px; margin-right: 20px;" src="{{ f.path }}"/>{{ album }}</a>
  {% endif %}
  {% endif %}
  {% assign prev = album %}
{% endif %}
{% endfor %}
</div>
