---
layout: page
title: Protocols
permalink: Research/Protocols/
menu: research
published: true
---


{% assign protocol_groups = site.data.protocols %}
{% for group in protocol_groups %}
	{% if group.open_row %} <div class="row"> {% endif %}
	<div class="col-sm-6">
	<h3> {{ group.Group }}</h3>
	<ul>
		{% for protocol in group.files  %}
		<li><a href="/Protocols/{{ protocol.file }}">{{ protocol.Name }}</a></li>
		{% endfor %}
	</ul>
	</div>
	{% if group.close_row %} </div> {% endif %}
{% endfor %}
