---
layout: page
title: Publications
permalink: Publications/
---
<div class="text-center">
{% assign prev_year = 1 %}
	{% for pub in site.data.pubs_data reversed %}
	{% assign cur_year = pub.Date_Published | date: '%Y' %}
	{% if cur_year != prev_year %}
		<a href="#{{  cur_year }}" class="btn btn-link">{{ cur_year }}</a>
	{% endif %}
	{% assign prev_year = pub.Date_Published | date: '%Y' %}
	{% endfor %}
</div>
<hr />
<div class="text-center">
		<span class="glyphicon glyphicon-envelope tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Corresponding Authors"></span> Corresponding Author(s)
		&nbsp;
		<span class="glyphicon glyphicon-flag tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Equal Contributors"></span> Equal Contributors 
		<br />
</div>
<br />
<div class="text-center">
<strong>Click on paper image to download PDF</strong>
</div>
{% assign prev_year = 1 %}
	{% for pub in site.data.pubs_data -%}
	{% if pub.status != "in_submission" %}
		{% assign cur_year = pub.Date_Published | date: '%Y' %}
			{% if cur_year != prev_year %}
			<a name="{{ cur_year }}"></a>
				<h4 name="{{ cur_year }}">{{  cur_year }}</h4>
			{% endif %}
		{% assign prev_year = pub.Date_Published | date: '%Y' %}

			<div class="pub">


					{% if pub.PDF_switch == true %}

						<div class="pub-img">
						<a href="/pub/{{pub.PDF}}.pdf" class="thumbnail pub_thumb hidden-xs">
						<img src="/pub/{{ pub.PDF}}.thumb.png" alt="{{pub.PDF}}" />
						</a>
						</div>
	 
						<div class="pub-img-small">
						<a href="/pub/{{pub.PDF}}.pdf" class="thumbnail visible-xs">
						<img src="/pub/{{ pub.PDF}}.thumb.png" alt="{{pub.PDF}}" />
						</a>
						</div>

					{% else if %}

					{% endif %}
						<strong>{{ pub.Title }}</strong><br />
							
							{% for author in pub.Authors %}
								{% assign corr_flag=0 %}
								{% assign eq_flag=0 %}
								{% assign author_website="" %}

									{% if pub.Equal_Contributors contains author %}
										{% assign eq_flag=1 %}
									{% endif %}

									{% for n in pub.Corresponding_Authors %}
										{% for q in n %}
											{% if author == q[0] %}
												{% assign corr_flag=1 %}
												{% assign corr_mail=q[1] %}
											{% endif %}
										{% endfor %}
									{% endfor %}
							{% for m in site.data.people %}
									{% if m.pub_names contains author %}
											{% capture author_website %}/People/#{{ m.first_name }} {{ m.last_name }}{% endcapture %}
									{% endif %}
							{% endfor %}

							{% if forloop.last == false %}<span class='comma'>{% endif %}
									{% if author_website != "" %}
											<strong><span><a href='{{author_website}}'>{{author}}</a></span></strong>
									{% else %}
											<span>{{author}}</span>
									{% endif %}
									
									{% if eq_flag == 1 %}
											<span class="glyphicon glyphicon-flag tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Equal Contributors"></span>
									{% endif %}
							
									{% if corr_flag == 1 %}
										<a href="mailto:{{corr_mail}}"><span class="glyphicon glyphicon-envelope tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Corresponding Authors" ></span></a>
									{% endif %}
								</span>
							
								{% endfor %}
								<br />
								<!-- Date -->
								
								({{pub.Date_Published }}) <em>{{ pub.Journal }}</em>
								<!-- DOI -->
								[
									{% if pub contains 'DOI' %}
										<a title="Document Object Identifier; Takes you to the Journal Website" href="http://dx.doi.org/{{ pub.DOI }}">DOI</a>
									{% endif %}

								<!-- PMID -->
									{% if pub contains 'PMID' %}
									 | <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pub.PMID }}">Pubmed</a>
									{% endif %}
								<!-- Pubmed Central -->
									{% if pub.PMC %}
									| <a title="Pubmed Central" href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{pub.PMC }}">PMC</a>
									{% endif %}
									|
									Citations : {{ pub.Citations }}
								]
			</div>
			<div class="clearfix"></div>

			{% endif %}
			{% endfor %}
<div class="text-center">
		<span class="glyphicon glyphicon-envelope tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Corresponding Authors"></span> Corresponding Author(s)
		&nbsp;
		<span class="glyphicon glyphicon-flag tooltip-item" data-toggle="tooltip" data-placement="bottom" title="Equal Contributors"></span> Equal Contributors 
		<br />
</div>