---
layout: page
title: Research
permalink: Research/
menu: research
---

{% for page in site.pages %}
	{% if page.category == "research" %}
		{{ page.content }}
	{% endif %}
{% endfor %}

<h4>What we Study</h4>

<p>Model organisms provide the opportunity to experimentally test the correlations between genes and disease-related processes because of the high-level of conservation and the ease of manipulation. However, most model organism research is based on a single wild-type strain background with little connection to natural variation, which is like studying a single person to make conclusions about the entire human species. <em>C. elegans</em> is isolated worldwide and has genetic variation comparable to that of humans. Therefore, <em>C. elegans</em> provides the opportunity to identify the genes that vary among individuals and the molecular mechanisms for how genetic variation causes phenotypic differences.</p>

<h3>Projects</h3>

<!-- Project 1-->
<div class="row">

<div class="col-sm-3">
	<a href="/Research/Projects/Drug-Response/"><img src="/assets/img/research/worms_drugs2.jpg" alt="Drug Sensitivities and Stress" class="thumbnail img-responsive" style="margin-right:20px; margin-top:10px"/></a>
</div>
	<div class="col-sm-9">
		<h4><a href="/Research/Projects/Drug-Response/">High-throughput approaches to understand conserved drug responses</a></h4>
		We use novel pipelines to accurately measure offspring production, growth rate, and muscle activity in diverse nematode strains. These results allow us to rapidly map variant genes underlying responses to chemotherapeutics, anthelmintics, neuroactive compounds, pesticides, and heavy metals. <i><a href="/Research/Projects/Drug-Response/">Learn More</a></i>
	</div>
</div>

<!-- Project 2-->
<div class="row">

<div class="col-sm-3">
	<a href="/Research/Projects/Variation/"><img src="/assets/img/research/variant-calling.png" alt="Drug Sensitivities and Stress" class="thumbnail img-responsive" style="margin-right:20px; margin-top:10px"/></a>
</div>
	<div class="col-sm-9">
		<h4><a href="/Research/Projects/Variation/">Species-wide and genome-wide identification of genomic variants</a></h4>
		We have a data set of nearly every strain of <em>C. elegans</em> sequenced to 50X coverage. These data will be used to identify diverse classes of variation, including single nucleotides, insertions/deletions, micro satellites, transposon insertions, genomic rearrangements, and copy-number variants. Such data will help narrow our genetic mapping experiments to candidate genes and teach us about population genetic forces shaping the <em>C. elegans</em> genome. <i><a href="/Research/Projects/Variation/">Learn More</a></i>
	</div>
</div>

<!-- Project 3-->
<div class="row">

<div class="col-sm-3">
	<a href="/Research/Projects/GxE/"><img src="/assets/img/research/GxE.jpg" alt="Drug Sensitivities and Stress" class="thumbnail img-responsive" style="margin-right:20px; margin-top:10px"/></a>
</div>
	<div class="col-sm-9">
		<h4><a href="/Research/Projects/GxE/">Identification of the genes that underlie gene-by-environment (GxE) interactions</a></h4>
		We use our high-throughput assays and standardized environmental perturbations to look at how organisms respond to altered environments. We measure responses to altered growth temperatures and the bacterial food sources. <i><a href="/Research/Projects/GxE/">Learn More</a></i>
	</div>
</div>

<!-- Project 4-->
<div class="row">

<div class="col-sm-3">

	<a href="/Research/Projects/Signalling/"><img src="/assets/img/research/Vulva_pop.jpg" alt="Drug Sensitivities and Stress" class="thumbnail img-responsive" style="margin-right:20px; margin-top:10px;"/></a>
</div>
	<div class="col-sm-9">
		<h4><a href="/Research/Projects/Signalling/">Investigation of natural variation in conserved signaling pathways</a></h4>
		We are interested in how conserved signaling pathways vary among individuals of a population. This variation is likely important for differences in human disease incidences, including cancer and diabetes. <i><a href="/Research/Projects/Signalling/">Learn More</a></i>
	</div>
</div>



