---
layout: default
---

	{% if page.post_header != false %}
  {% assign s = page.title | size %}
	{% if s > 30 %}
    <h4>{{ page.title }}</h4>
    {% else %}
	<h1>{{ page.title }}</h1>
    {% endif %}
    <hr />
    {% endif %}

{% if page.sidebar %}

 <div class = "row">
    <div class="col-md-8">
      {{ content }}
    </div>
    <div class="col-md-4">
      {% include {{ page.sidebar }} %}
    </div>
  </div>
{% else %}

  <article class="post-content">
  {{ content }}
  </article>

{% endif %}
	</div>

	</div>
