---
layout: default
---
<div class="row">


	<div class="col-md-6 col-sm-6 col-xs-12">



  <header class="post-header">
      <p class="meta pull-right">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>	
    <h3>{{ page.title }}</h3>
    <hr />
  </header>


  <article class="post-content">
  {{ content }}

{% if page.files %}

{% for f in page.files %}

<div class="pub">
          <div class="pub-img">
          <a href="/files/{{ f.filename }}" class="thumbnail pub_thumb hidden-xs">
          <img src="/files/{{ f.filename }}.thumb.png" alt="{{ f.filename }}" />
          </a>
          </div>

          <div class="pub-img-small">
          <a href="/files/{{ f.filename }}" class="thumbnail visible-xs">
          <img src="/files/{{ f.filename }}.thumb.png" alt="{{ f.filename }}" />
          </a>
          </div>
</div>
          <strong><a href="/files/{{ f.filename }}" >{{f.title}}</a></strong>
    <div class="clearfix"></div>
{% endfor %}
{% endif %}


  {% if page.PMID %}

    {% assign publication = (site.data.pubs_data | where: "PMID" , page.PMID) %}
      {% for pub in publication %}
          
<div class="pub">

          <div class="pub-img">
          <a href="/publications/{{pub.PDF}}.pdf" class="thumbnail pub_thumb hidden-xs">
          <img src="/publications/thumb_{{ pub.PDF}}.png" alt="{{pub.PDF}}" />
          </a>
          </div>
 
          <div class="pub-img-small">
          <a href="/publications/{{pub.PDF}}.pdf" class="thumbnail visible-xs">
          <img src="/publications/thumb_{{ pub.PDF}}.png" alt="{{pub.PDF}}" />
          </a>
          </div>
        
          <strong>{{ pub.Title }}</strong>
          {% assign pub_authors=pub.Authors|join:", " %}
            {% for m in site.data.people %}
              {% for p in m.pub_names %}
                {% capture user_url %}
                <a href='/People/#{{m.first_name}} {{m.last_name}}'>{{ p }}</a>{% endcapture %}
                {% assign pub_authors=pub_authors|replace: p, user_url %}
              {% endfor %}
            {% endfor %}
              <br /><small>{{ pub_authors }}</small>
              <!-- Date -->
              
              <br />({{pub.Date_Published }}) <em>{{ pub.Journal }}</em>
              <!-- DOI -->
              [
                {% if pub contains 'DOI' %}
                  <a title="Document Object Identifier; Takes you to the Journal Website" href="http://dx.doi.org/{{ pub.DOI }}">DOI</a>
                {% endif %}

              <!-- PMID -->
                {% if pub contains 'PMID' %}
                 | <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pub.PMID }}">Pubmed</a>
                {% endif %}
              <!-- Pubmed Central -->
                {% if pub.PMC %}
                | <a title="Pubmed Central" href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{pub.PMC }}">PMC</a>
                {% endif %}
                {% if pub.has_data %}
                | <a href="/Research/Data/{{ pub.PDF }}">Data</a>
                {% endif %}
              ]
    </div>
    <div class="clearfix"></div>


      {% endfor %}
  {% endif %}
  </article>
  

</div>

<div class="col-md-6 col-sm-6 col-xs-12">

<h4>News &amp; Updates</h4>




<div class="list-group" style="margin-bottom:0px;">
	  {% for post in site.tags.news limit:5 %}
		  <a href="{{ post.url }}" class="list-group-item {% if post.title == page.title %}active{% endif %}">
		    <h4 class="list-group-item-heading"><small class="pull-right">{{ post.date | date_to_string }}</small>{{ post.title }}</h4>
		    <p class="list-group-item-text">{{ post.subtitle }}</p>
		  </a>
    {% endfor %}
</div>
<br />
<div class="pull-left"><a href="/feeds/rss.xml" type="application/rss+xml" ><img src="/assets/img/rss.png" /></a> <a href="/feeds/rss.xml" type="application/rss+xml" class="btn btn-warning btn-xs">Subscribe RSS</a></div>
<div class="pull-right"><a href="/archive/">View Full Archive <i class="glyphicon glyphicon-arrow-right"></i></a></div>
<br /><br />

</div>

</div>