---
layout: default
---

     <h3>{% for pub in site.data.pubs_data %}
            {% if pub.pub_stub == page.pub_stub %}
              {{ pub.Title }}
            {% endif %}
          {% endfor %}
    </h3>
    <p class="lead">{{ page.subtitle }}</p>
    <hr />



  <article class="post-content">
  <div class="row">
<div class="col-md-6">
  <p>{{ content }}</p>
</div>
  <div class="col-md-6">
  <h3>Datasets</h3>
  {% for pub in site.data.pubs_data %}
  {% if pub.pub_stub == page.pub_stub %}
  {% if pub.pub_data.files %}
    <div class="list-group">
    {% for file in pub.pub_data.files %}
      {% if file[1].url %}
      <a href="{{ file[1].url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ file[1]["title"] }}</h4>
        {% if file[1].description %}
          <p class="list-group-item-text">
            {{ file[1].description }}
          </p>
        {% endif %}
      </a>
      {% else %}
      <a href="/files/dist/{{ page.pub_stub }}/{{ file[0] }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ file[1]["title"] }}</h4>
        {% if file[1].description %}
          <p class="list-group-item-text">
            {{ file[1].description }}
          </p>
        {% endif %}
      </a>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  {% endif %}
{% endfor %}
</div>
</div>
<div class="row">
 <div class="col-md-12">
  <h3>Supplementary Figures</h3>
  {% for pub in site.data.pubs_data %}
  {% if pub.pub_stub == page.pub_stub %}
  {% if pub.pub_data.files %}
  <ul>
  {% for figure in pub.pub_data.figures %}
    <li><a href="#{{ figure[0] }}"><strong>{{ figure[1].prefix }}</strong></a> - {{ figure[1].title }}</li>
  {% endfor %}
  </ul>
    {% endif %}
  {% endif %}
{% endfor %}
 <hr />
  {% for pub in site.data.pubs_data %}
  {% if pub.pub_stub == page.pub_stub %}
  {% if pub.pub_data.files %}
    <ul>
    {% for figure in pub.pub_data.figures %}
      <div>
      <a name="{{ figure[0] }}"></a>
      <img src="/files/dist/{{ page.pub_stub }}/{{ figure[0] }}" style="max-width:100%; max-height: 1000px;">
      <p><strong>{{ figure[1].prefix }}</strong> - {{ figure[1].title }}</p>
      <p>{{ figure[1].caption }}</p>
      <hr />
      </div>
    {% endfor %}
    </ul>
  {% endif %}
  {% endif %}
{% endfor %}
</div>



  </article>

	</div>

	</div>
